<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/header') %>
    <title>Política Privacidad</title>
</head>
<body>
    <header>
        <%- include('partials/navigation') %>
    </header>
    <p class=""><h1><strong>Política de Privacidad</strong></h1>

        En nuestra página valoramos y respetamos su privacidad. Por ello, nos comprometemos a proteger y salvaguardar los datos personales que nos proporcione a través de nuestra página web. Esta política de privacidad describe cómo recopilamos, utilizamos, compartimos y protegemos la información personal que recopilamos a través de nuestra página.
        <ol>
            <li>
                Información que recopilamos
                Recopilamos información personal que usted nos proporciona directamente cuando se comunica con nosotros a través de nuestra página web, como su nombre, dirección de correo electrónico, dirección postal y número de teléfono. Además, podemos recopilar información de uso, incluyendo información sobre su dispositivo, sistema operativo y navegador.
            </li>
            <li>
                Uso de la información
                Utilizamos la información recopilada para mejorar nuestros servicios y personalizar su experiencia en nuestra página web. También podemos utilizar la información para proporcionarle información y comunicaciones relacionadas con nuestros productos y servicios. No compartiremos su información personal con terceros sin su consentimiento previo.
            </li>
            <li>
                Cookies y tecnologías similares
                Utilizamos cookies y tecnologías similares para recopilar información sobre el uso de nuestra página web y mejorar su experiencia en ella. También podemos utilizar cookies y tecnologías similares para mostrar anuncios personalizados y para analizar el tráfico en nuestra página web.
            </li>
            <li>
                Protección de la información
                Tomamos medidas de seguridad razonables para proteger su información personal de pérdida, uso indebido y acceso no autorizado, divulgación, alteración y destrucción. Sin embargo, no podemos garantizar que estas medidas de seguridad sean infalibles.
            </li>
            <li>
                Enlaces a sitios web de terceros
                Nuestra página web puede contener enlaces a sitios web de terceros. Estos sitios web tienen sus propias políticas de privacidad y no somos responsables de su contenido o prácticas de privacidad. Le recomendamos que revise las políticas de privacidad de estos sitios web antes de proporcionarles su información personal.
            </li>
            <li>
                Cambios en esta política de privacidad
                Nos reservamos el derecho de modificar esta política de privacidad en cualquier momento. Cualquier cambio será efectivo inmediatamente después de la publicación en nuestra página web. Le recomendamos que revise periódicamente esta política de privacidad para estar informado de cualquier cambio.
            </li>
            <li>
                Contáctenos
                Si tiene alguna pregunta o inquietud sobre nuestra política de privacidad o el uso de su información personal, por favor contáctenos a través de la información de contacto proporcionada en nuestra página web.
            </li>
        </ol>
        Fecha de entrada en vigor: 21/04/2023</p>    
</body>
</html>